
@{
    ViewBag.Title = "ErrorPage";
}

<h2>ErrorPage</h2>



<!doctype HTML>
<html lang="en-US">
<head>

    Errors Are Not good

</head>


<body>


    <h1>   This is the error page!!!!</h1>



</body>
</html>




