
<form  class="emp-form empColor" #empForm="ngForm"  (ngSubmit)="onSubmit(empForm)"  >
<input type="hidden" name="EmployeeID"  #EmployeeID="ngModel" [(ngModel)]="employeeService.selEmployee.EmployeeID"  >
<div class="form-row">
<div class="form-group col-md-6" >
  <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="employeeService.selEmployee.FirstName" placeholder="First Name" required>
  <div class="valError" *ngIf="FirstName.invalid && FirstName.touched"> This Field is Required </div>
</div>

<div class="form-group col-md-6" >
    <input  class="form-control" name="LastName"  #LastName="ngModel"   [(ngModel)]="employeeService.selEmployee.LastName"placeholder="Last Name" required>
    <div class="valError" *ngIf="LastName.invalid && LastName.touched" > This Field is Required </div>
  </div>
</div>

<div class="form-group">
        <input  class="form-control" name="Position"  #Position="ngModel"   [(ngModel)]="employeeService.selEmployee.Position" placeholder="Position">

</div>

<div class="form-row">
    <div class="form-group col-md-6" >
      <input  class="form-control" name="EmployeeCode"  #empCode="ngModel"  [(ngModel)]="employeeService.selEmployee.EmployeeCode"placeholder="Employee Code" >
    </div>

    <div class="form-group col-md-6" >
        <input  class="form-control" name="Office"  #Office="ngModel"  [(ngModel)]="employeeService.selEmployee.Office"placeholder="Office" >
      </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-8" >
         <button [disabled]="!empForm.valid" type="submit" class="btn btn-lg btn-block btn-info"> <i class="fa fa-floppy-o"  ></i> Submit</button>
        </div>

        <div class="form-group col-md-4" >
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)='resetForm(empForm)'><i class="fa fa-repeat"> </i> Reset </button>
           </div>

           <!-- <div class="form-group col-md-4">
             <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)">
               <i class="fa fa-repeat"></i> Reset</button>
           </div> -->

    </div>

</form>

    <p>
        employee works!
      </p>
