@model System.Web.Mvc.HandleErrorInfo



@{ 

    ViewBag.Title = "Error";


}



<hgroup class="title">

    <h1 class="error"> An Error Occurred </h1>

    <h1 class="error"> An Error Occurred While processing your request </h1>
</hgroup>

